* {
  padding: 0;
  margin: 0;
  outline: none; }

body {
  font-family: "Open Sans"; }

.clear {
  clear: both; }

.center {
  width: 1280px;
  margin: 0 auto;
  position: relative; }
  .center #historico_publicacao .block {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #5e5e5e;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    margin: 40px 0; }
    .center #historico_publicacao .block .status_publicacao {
      position: absolute;
      top: 15px;
      right: 20px;
      font-weight: bold; }
      .center #historico_publicacao .block .status_publicacao.rascunho {
        color: red; }
      .center #historico_publicacao .block .status_publicacao.processo {
        color: blue; }
      .center #historico_publicacao .block .status_publicacao.publicado {
        color: #000000; }
    .center #historico_publicacao .block .info-block .block-left {
      width: 235px;
      float: left; }
      .center #historico_publicacao .block .info-block .block-left .fullscreen {
        margin-top: 10px; }
    .center #historico_publicacao .block .info-block .block-right {
      width: calc(100% - 270px);
      margin: 0 10px;
      float: left; }
      .center #historico_publicacao .block .info-block .block-right ul li {
        list-style: none;
        margin: 0;
        font-weight: bold;
        color: #5e5e5e; }
      .center #historico_publicacao .block .info-block .block-right .buttons {
        margin-top: 25px; }
        .center #historico_publicacao .block .info-block .block-right .buttons .white {
          margin-left: 50px; }
  .center #historico_publicacao #paginacao {
    width: 96%;
    margin-bottom: 60px;
    overflow: hidden; }
    .center #historico_publicacao #paginacao a.prev {
      width: 15%;
      float: left;
      color: #5e5e5e;
      font-weight: bold; }
    .center #historico_publicacao #paginacao ul {
      float: left;
      text-align: center;
      width: 60%; }
      .center #historico_publicacao #paginacao ul li {
        list-style: none;
        display: inline-block; }
        .center #historico_publicacao #paginacao ul li a {
          color: #5e5e5e;
          margin-left: 15px;
          font-weight: bold; }
    .center #historico_publicacao #paginacao a.next {
      width: 15%;
      float: right;
      color: #5e5e5e; }
  .center #formulario_publicacao h3 {
    font-size: 18px; }
  .center #formulario_publicacao ul li {
    list-style: none;
    display: inline-block;
    margin-left: 8%; }
    .center #formulario_publicacao ul li:first-child {
      margin-left: 0; }
  .center #formulario_publicacao .block-left {
    width: 48%;
    float: left; }
    .center #formulario_publicacao .block-left .medium_publicacao {
      width: 50%;
      float: left; }
      .center #formulario_publicacao .block-left .medium_publicacao label.mgLeft {
        margin-left: 12%; }
      .center #formulario_publicacao .block-left .medium_publicacao input[type="text"] {
        width: 80%; }
        .center #formulario_publicacao .block-left .medium_publicacao input[type="text"].mgLeft {
          margin-left: 12%; }
  .center #formulario_publicacao .block-right {
    width: 50%;
    float: left; }
    .center #formulario_publicacao .block-right .title-capa {
      color: #5e5e5e;
      border-radius: 6px;
      font-size: 16px;
      margin: 0 0 10px 40px; }
    .center #formulario_publicacao .block-right .capa {
      width: calc(96% - 42px);
      overflow: hidden;
      border: 1px solid #5e5e5e;
      border-radius: 6px;
      padding: 4%;
      margin-left: 40px; }
      .center #formulario_publicacao .block-right .capa .container-capa {
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 6px; }
      .center #formulario_publicacao .block-right .capa img {
        width: 100%;
        border-radius: 6px;
        margin-top: -10px; }
    .center #formulario_publicacao .block-right .formato {
      width: calc(100% - 40px);
      margin-left: 40px;
      margin-top: 15px; }
      .center #formulario_publicacao .block-right .formato ul li {
        margin-left: 10%; }
        .center #formulario_publicacao .block-right .formato ul li:first-child {
          margin-left: 5%; }
        .center #formulario_publicacao .block-right .formato ul li input[type="radio"] {
          margin-top: -5px;
          margin-right: 30px; }
  .center #formulario_publicacao #buttons .white {
    margin-left: 50px; }
  .center form .form-item {
    margin-bottom: 15px; }

header {
  width: 100%;
  height: 100px;
  background: #5f5f5f;
  position: relative; }
  header h2 {
    line-height: 100px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase; }
  header #perfil {
    position: absolute;
    top: 25px;
    right: 10px;
    width: 150px;
    overflow: hidden; }
    header #perfil figure {
      float: left; }
      header #perfil figure img {
        width: 50px;
        height: 50px;
        border-radius: 100%; }
    header #perfil .name {
      float: left;
      margin: 8px 0 0 10px;
      color: #ffffff; }

main {
  /* Produtos cadastrados */
  /* FIM Produtos cadastrados */ }
  main nav#system ul li {
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px; }
    main nav#system ul li a {
      color: #17b3ce;
      text-decoration: none; }
  main nav#dashboard ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    margin-top: 50px; }
    main nav#dashboard ul li {
      flex-basis: 48%;
      display: flex;
      align-items: center;
      justify-items: center;
      margin-top: 20px;
      height: 100px; }
      main nav#dashboard ul li a {
        text-decoration: none;
        color: #9f9f9f;
        margin-left: 10px;
        display: block; }
  main #produtos_cadastrados #recive {
    width: 100%;
    height: 300px;
    border: 2px solid #5f5f5f;
    border-radius: 6px;
    margin-top: 20px; }
  main #produtos_cadastrados .buttons {
    margin-top: 20px; }
    main #produtos_cadastrados .buttons .left {
      float: left; }
    main #produtos_cadastrados .buttons .right {
      float: right; }

form {
  margin: 30px 0; }
  form .info-campos {
    padding: 30px 0;
    font-size: 14px; }
  form .classificacao {
    display: block;
    overflow: hidden;
    margin: 30px 0; }
    form .classificacao li {
      display: inline-block;
      list-style: none;
      width: 50px;
      height: 50px;
      border-radius: 6px; }
      form .classificacao li.active {
        border: 2px solid #5f5f5f; }
      form .classificacao li .label {
        width: 40px;
        height: 40px;
        margin: 5px;
        background: red;
        color: #ffffff;
        line-height: 40px;
        text-align: center;
        border-radius: 6px;
        font-weight: bold; }
        form .classificacao li .label.green {
          background: #00ad51; }
        form .classificacao li .label.blue {
          background: #00ccff; }
        form .classificacao li .label.yellow {
          background: #ffcc00; }
        form .classificacao li .label.orange {
          background: #ff6600; }
        form .classificacao li .label.red {
          background: #fd0100; }
        form .classificacao li .label.black {
          background: #000000; }
        form .classificacao li .label.white {
          background: #ffffff;
          color: #000000;
          border: 1px solid #000000; }
  form .form-item {
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
    font-weight: normal;
    float: left; }
    form .form-item label {
      width: 96%;
      display: block;
      margin-bottom: 10px;
      font-size: 16px; }
    form .form-item textarea {
      width: 96%;
      height: 120px;
      border-radius: 6px;
      color: #5f5f5f;
      padding: 10px;
      border: 1px solid #5f5f5f; }
    form .form-item input[type="text"] {
      width: 96%;
      height: 35px;
      border-radius: 6px;
      color: #5f5f5f;
      padding: 0 10px;
      border: 1px solid #5f5f5f; }
      form .form-item input[type="text"].black {
        width: calc(100% - 70px);
        background: #5f5f5f;
        color: #ffffff;
        border: 1px solid #5f5f5f;
        color: #ffffff; }
        form .form-item input[type="text"].black::placeholder {
          color: #ffffff; }
      form .form-item input[type="text"]::placeholder {
        color: #5f5f5f; }
    form .form-item select {
      width: 100%;
      height: 35px;
      border-radius: 6px;
      color: #5f5f5f;
      padding: 0 10px;
      border: 1px solid #5f5f5f; }
    form .form-item input[type="image"] {
      margin: 0 0 -10px 10px;
      float: right; }
    form .form-item.medium {
      width: 46%;
      float: left; }
    form .form-item.action-right {
      margin-left: 6%; }
    form .form-item.actions .block-left {
      width: calc(100% - 130px);
      float: left; }
    form .form-item.actions .recive-list {
      margin-top: 20px;
      width: calc(100% - 25px);
      height: 150px;
      border: 1px solid #5f5f5f;
      border-radius: 6px; }
    form .form-item.actions .settings {
      width: 100px;
      float: left;
      margin-top: 30px;
      overflow: hidden;
      text-align: center; }
      form .form-item.actions .settings div {
        width: 38px;
        height: 38px;
        line-height: 38px;
        border: 1px solid #5f5f5f;
        color: #5f5f5f;
        background: #ffffff;
        float: left;
        border-radius: 4px; }
        form .form-item.actions .settings div:last-child {
          margin-left: 20px; }
    form .form-item.error input, form .form-item.error textarea {
      border: 1px solid red; }
    form .form-item.date {
      width: 20%;
      float: left; }
      form .form-item.date input[type="text"] {
        width: 70%; }
    form .form-item.status {
      width: 29%; }
      form .form-item.status input[type="text"] {
        width: 80%; }
        form .form-item.status input[type="text"].last {
          width: 92%; }

p.title {
  width: 98%;
  font-size: 18px;
  color: #5f5f5f;
  border-bottom: 1px solid #5f5f5f;
  margin: 40px 0 30px 0;
  padding-bottom: 10px; }

.clear {
  clear: both; }

h3 {
  color: #5f5f5f;
  padding: 30px 0; }

.new-button {
  float: right;
  padding: 10px 30px;
  border: 1px solid #9f9f9f;
  margin: 30px 0 0 0;
  background: #9f9f9f;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer; }

button {
  padding: 5px 30px 7px 30px;
  color: #5f5f5f;
  font-weight: bold;
  border-radius: 4px;
  font-size: 16px;
  letter-spacing: 1px; }
  button.cadastrar {
    background: #26dcf2;
    color: #ffffff;
    font-weight: bold;
    border: 1px solid #26dcf2; }

button.white {
  border: 1px solid #5e5e5e;
  background: #ffffff;
  color: #5e5e5e; }

button.red {
  background: #fe0000;
  color: #ffffff;
  border: 1px solid #fe0000; }

button.publicacao {
  background: #ffb24e;
  border: 1px solid #ffb24e;
  color: #ffffff;
  margin-bottom: 0; }

/*# sourceMappingURL=main.css.map */
